/*
 * 全局 下拉弹层 mc-dropdown
 */
.mc-dropdown {position: relative;display: inline-block;}
.mc-dropdown * {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.mc-dropdown.show .mc-dropdown-menu {display:block!important;}
.mc-dropdown-menu {position: absolute;background:#fff;min-width:100px;box-shadow:0 0 10px 2px rgba(0,0,0,.1);border-radius: 2px;padding:5px 0;display:none;z-index:200;
    -webkit-transition:all .3s ease;
            transition:all .3s ease;
}
.mc-dropdown-menu:after {content:"";position: absolute;width:110%;height:110%;left:-5px;top:-5px;z-index: -1;}
.mc-dropdown-menu-list > li {line-height: 32px;position: relative;white-space: nowrap;font-size: 14px;}
.mc-dropdown-menu-list > li a {display: block;padding:0 10px;color:#676a6c;-webkit-transition: all .3s cubic-bezier(.16,.73,.32,1.02);transition: all .3s cubic-bezier(.16,.73,.32,1.02);}
.mc-dropdown-menu-list > li.current > a , .mc-dropdown-menu-list > li a:not([disabled]):hover {background-color: #e1e1e8;color:#333;}
.mc-dropdown-menu-list > li > ul {position:absolute;background: #fff;border-radius: 2px;box-shadow:0 0 10px 1px rgba(0,0,0,.1);white-space: nowrap;top:0;display: none;z-index: 200;}
.mc-dropdown-menu-list > li > ul:after {content:"";position: absolute;width:120%;height:100%;left:-10px;top:0;z-index: -1;}
.mc-dropdown-menu-title {position:relative;padding-right:23px!important;}
.mc-dropdown-menu-title:after {content:"";position:absolute;right:8px;top:13px;display:inline-block;width:7px;height:7px;border-top:.15em solid #848b98;border-right:.15em solid #848b98;border-radius: 2px;-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.mc-dropdown-disabled[disabled] {color:#bbb;cursor:not-allowed;}
.mc-dropdown[placement="right"] .mc-dropdown-menu,.mc-dropdown[placement="topRight"] .mc-dropdown-menu  {right:0;}

/**
 * animation one
 */
.mc-dropdown:not([anim]) .mc-dropdown-menu-show
{
    -webkit-animation: mcSlideDownIn-1 .3s cubic-bezier(.23,1,.32,1) both; 
            animation: mcSlideDownIn-1 .3s cubic-bezier(.23,1,.32,1) both;    
}

.mc-dropdown:not([anim]) .mc-dropdown-menu-hide
{
    display:block!important;
    pointer-events:none;
    -webkit-animation: mcSlideDownOut-1 .3s cubic-bezier(.23,1,.32,1) both; 
            animation: mcSlideDownOut-1 .3s cubic-bezier(.23,1,.32,1) both; 
}

.mc-dropdown[placement=topLeft] .mc-dropdown-menu-show, 
.mc-dropdown[placement=topCenter] .mc-dropdown-menu-show, 
.mc-dropdown[placement=topRight] .mc-dropdown-menu-show 
{
  -webkit-animation: mcSlideUpIn-1 .3s cubic-bezier(.23,1,.32,1) both; 
          animation: mcSlideUpIn-1 .3s cubic-bezier(.23,1,.32,1) both;
}

.mc-dropdown[placement=topLeft] .mc-dropdown-menu-hide, 
.mc-dropdown[placement=topCenter] .mc-dropdown-menu-hide, 
.mc-dropdown[placement=topRight] .mc-dropdown-menu-hide 
{
    display:block!important;
    pointer-events:none;
    -webkit-animation: mcSlideUpOut-1 .3s cubic-bezier(.23,1,.32,1) both; 
            animation: mcSlideUpOut-1 .3s cubic-bezier(.23,1,.32,1) both; 
}

@-webkit-keyframes mcSlideDownIn-1 {
    0% {
        -webkit-transform: scaleY(.8);
        -webkit-transform-origin: 0% 0%;
        opacity: 0;
    }
    100% {
        -webkit-transform: scaleY(1);
        -webkit-transform-origin: 0% 0%;
        opacity: 1;
    }
}
@keyframes mcSlideDownIn-1 {
    0% {
        transform: scaleY(.8);
        transform-origin: 0% 0%;
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        transform-origin: 0% 0%;
        opacity: 1;
    }
}

@-webkit-keyframes mcSlideDownOut-1 {
    0% {
        -webkit-transform: scaleY(1);
        -webkit-transform-origin: 0% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(.8);
        -webkit-transform-origin: 0% 0%;
        opacity: 0;
    }
}
@keyframes mcSlideDownOut-1 {
    0% {
        transform: scaleY(1);
        transform-origin: 0% 0%;
        opacity: 1;
    }
    100% {
        transform: scaleY(.8);
        transform-origin: 0% 0%;
        opacity: 0;
    }
}
@-webkit-keyframes mcSlideUpIn-1 {
    0% {
        -webkit-transform: scaleY(.8);
        -webkit-transform-origin: 0% 100%;
        opacity: 0;
    }
    100% {
        -webkit-transform: scaleY(1);
        -webkit-transform-origin: 0% 100%;
        opacity: 1;
    }
}
@keyframes mcSlideUpIn-1 {
    0% {
        transform: scaleY(.8);
        transform-origin: 0% 100%;
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        transform-origin: 0% 100%;
        opacity: 1;
    }
}
@-webkit-keyframes mcSlideUpOut-1 {
    0% {
        -webkit-transform: scaleY(1);
        -webkit-transform-origin: 0% 100%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(.8);
        -webkit-transform-origin: 0% 100%;
        opacity: 0;
    }
}
@keyframes mcSlideUpOut-1 {
    0% {
        transform: scaleY(1);
        transform-origin: 0% 100%;
        opacity: 1;
    }
    100% {
        transform: scaleY(.8);
        transform-origin: 0% 100%;
        opacity: 0;
    }
}

/**
 * animation two
 */
.mc-dropdown[anim="2"] .mc-dropdown-menu-show {
    opacity: 0;
    -webkit-transform:translate(0,10px);
            transform:translate(0,10px);
    -webkit-animation:mcSlideDownIn-2 .3s cubic-bezier(.23,1,.32,1) both;
            animation:mcSlideDownIn-2 .3s cubic-bezier(.23,1,.32,1) both;
}
.mc-dropdown[anim="2"] .mc-dropdown-menu-hide {
    display: block!important;
    pointer-events:none;
    -webkit-animation:mcSlideDownOut-2 .3s cubic-bezier(.23,1,.32,1) both;   
            animation:mcSlideDownOut-2 .3s cubic-bezier(.23,1,.32,1) both;   
}

.mc-dropdown[anim="2"][placement=topLeft] .mc-dropdown-menu-show, 
.mc-dropdown[anim="2"][placement=topCenter] .mc-dropdown-menu-show, 
.mc-dropdown[anim="2"][placement=topRight] .mc-dropdown-menu-show {
    opacity: 0;
    -webkit-transform:translate(0,-10px);
            transform:translate(0,-10px);
    -webkit-animation:mcSlideUpIn-2 .3s cubic-bezier(.23,1,.32,1) both;
            animation:mcSlideUpIn-2 .3s cubic-bezier(.23,1,.32,1) both;
}

.mc-dropdown[anim="2"][placement=topLeft] .mc-dropdown-menu-hide, 
.mc-dropdown[anim="2"][placement=topCenter] .mc-dropdown-menu-hide, 
.mc-dropdown[anim="2"][placement=topRight] .mc-dropdown-menu-hide {
    -webkit-transform:translate(0,-10px);
            transform:translate(0,-10px);
    -webkit-animation:mcSlideUpOut-2 .3s cubic-bezier(.23,1,.32,1) both;
            animation:mcSlideUpOut-2 .3s cubic-bezier(.23,1,.32,1) both;
}

@-webkit-keyframes mcSlideDownIn-2 {
  to {
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes mcSlideDownIn-2 {
  to {
    transform: translate(0,0);
    opacity: 1;
  }
}

@-webkit-keyframes mcSlideDownOut-2 {
  to {
    -webkit-transform: translate(0,10px);
    opacity: 0;
  }
}
@keyframes mcSlideDownOut-2 {
  to {
    transform: translate(0,10px);
    opacity: 0;
  }
}

@-webkit-keyframes mcSlideUpIn-2 {
  to {
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes mcSlideUpIn-2 {
  to {
    transform: translate(0,0);
    opacity: 1;
  }
}
@-webkit-keyframes mcSlideUpOut-2 {
  to {
    opacity: 0;
  }
}
@keyframes mcSlideUpOut-2 {
  to {
    opacity: 0;
  }
}
